<div class="input">
    <label class="input__label" for="{{name}}">{{label}}</label>
    <input
        class="input__item {{class}}{{#if error}} input__item-error{{/if}}"
        type="{{type}}"
        id="{{name}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        value="{{value}}"
        {{#if required}}required{{/if}}
        {{#if disabled}}disabled{{/if}}
    >
</div>
