<div class="user-settings-field">
    <label class="user-settings-field__label" for="{{name}}">{{label}}</label>
    <input
        class="user-settings-field__input"
        name="{{name}}"
        type="{{type}}"
        value="{{value}}"
        {{#if readonly}}readonly{{/if}}
    />
</div>
